.main-container {
  display: flex;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 1600px;
  padding-top: 95px;
  padding-right: 500px;
}

.sidebar {
  width: 200px;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  color: #007bff;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 20px;
}

.comparison {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  
}

.broker-card {
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 380px;
  height: 460px;
}

.broker-card img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.stars {
  font-size: 12px;
}

.vs {
  font-weight: bold;
  font-size: 20px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

button {
  background-color: rgba(69, 187, 188, 1);
  border: none;
  padding: 2px 2px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

h3 {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}
